.body {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}

ul li {
  color: black;
  padding: 16px 10px;
  cursor: pointer;
}

input {
  background-color: #858a98;
  padding: 12px 12px;
  width: 100%;
  color: white;
  border-radius: 10px;
  outline: none;
}

.fields {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 4;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
